.header-component {
  height: 60px;
  background-color: white;

  padding: 0px 10%;
}

.logo-text {
  color: #000;
  /* font-family: "Ubuntu"; */
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.total-time {
  color: #000;
  /* font-family: Ubuntu; */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
